
* {
    margin: 0;
}


main {
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: -2;
    height: 100vh;
    background-color: #ededed;
}


/* 
//////////////////////////////////////////////////////////
-------------------------BACKGROUND-----------------------
/////////////////////////////////////////////////////// */

section:nth-of-type(1) {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--heightbackground);
    width: 100%;
    position: relative;
    background-image: linear-gradient(var(--clr-sky) 70%, var(--clr-grass) 0);
    flex-shrink: 0;
    transition: 1s ease-in-out;
    overflow: hidden;
}
