html {
    /* colors */
    --clr-collar: #f977c5;
    --clr-grass: #9de8a7;
    --clr-sky: rgb(96, 215, 254);
    --clr-leaves: #fff1f6;

    /* height: section 1 */
    --heightbackground: 100vh;

    /* mouth positions */
    --mouth-rotation: 0deg;
    --mouth-border: 1.25cqw solid #000000;

    /* water heights */
    --waterlevel: 50%;

}

/* eye size of dog */
@property --eye-size {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 9%;
}

@font-face {
    font-family: 'bubblyfont'; /* Kies een naam voor je font */
    src: url('../fonts/bubblyfont.ttf') format('truetype'); /* Pad naar je TTF bestand */
    font-weight: normal; /* Optioneel, kan worden aangepast */
    font-style: normal; /* Optioneel, kan worden aangepast */
}

/* Nu kun je het font gebruiken in je CSS */
body {
    font-family: 'bubblyfont', sans-serif; /* Zorg ervoor dat je het font ook toepast op je elementen */
}


* {
    margin: 0;
}


main {
    /* height: 100vh; */
    flex-direction: column;
    display: flex;
    align-items: center;

}


main h1:first-of-type {
    position: absolute;
    top: 2em;
    z-index: 1;
    font-size: 7vw;
    font-weight: 400;
color: white;
  


}


/* 
//////////////////////////////////////////////////////////
-------------------------BACKGROUND-----------------------
/////////////////////////////////////////////////////// */

section:nth-of-type(1) {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--heightbackground);
    width: 100%;
    position: relative;
    background-image: linear-gradient(var(--clr-sky) 70%, var(--clr-grass) 0);
    flex-shrink: 0;
    container-type: inline-size;
    transition: 1s ease-in-out;
    z-index: -1;
}


/* 
//////////////////////////////////////////////////////////
---------------------🐶🐶🐶HONDJE🐶🐶🐶---------------------
/////////////////////////////////////////////////////// */
/* BRON DOG INPSO:
https://www.youtube.com/watch?v=XN3KWtbVYug&t=1557s

/* dog */
body>main>section:first-of-type>div:first-child {
    position: absolute;
    /* background-color: #c6c023; */
    height: 50%;
    container-type: inline-size;
    width: 60cqw;
    max-width: 400px;
    top: cqw;
    scale: 0.7;
    top: 40%;

}

/* Head */
main>section:first-of-type>div:first-of-type div:first-child {
    width: 50cqw;
    aspect-ratio: 1;
    background-color: rgb(242, 205, 171);
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    left: 25cqw;
    top: 1cqw;
    background-image:
        radial-gradient(ellipse 50% 30% at 70% 60%, rgb(238, 180, 213) 15%, transparent 0),
        radial-gradient(ellipse 50% 30% at 30% 60%, rgb(238, 180, 213) 15%, transparent 0),
        radial-gradient(ellipse 50% 30% at 50% 70%, rgb(255, 255, 255) 50%, transparent 0),
        radial-gradient(circle at 31% 44%, rgb(255, 255, 255) 2.6%, transparent 0),
        radial-gradient(circle at 36% 48%, rgb(255, 255, 255) 2%, transparent 0),
        radial-gradient(circle at 61% 44%, rgb(255, 255, 255) 2.7%, transparent 0),
        radial-gradient(circle at 65.5% 48%, rgb(255, 255, 255) 2%, transparent 0),
        radial-gradient(circle at 33% 46%, rgb(0, 0, 0) var(--eye-size), transparent 0),
        radial-gradient(circle at 63% 46%, rgb(0, 0, 0) var(--eye-size), transparent 0),
        radial-gradient(circle at 63% 60%, rgb(145, 98, 57) 15%, transparent 0);
    animation: eyes 3s ease-in infinite;
}

@keyframes eyes {
    from {
        --eye-size: 9%;
    }

    to {
        --eye-size: 12%;
    }
}

/* Ear Left */
main>section:first-of-type>div:first-of-type div:first-child::before {
    content: "";
    width: 25cqw;
    aspect-ratio: 1;
    background-color: rgb(201, 117, 58);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: -1cqw;
    left: -7cqw;
}

/* Ear Right */
main>section:first-of-type>div:first-of-type div:first-child::after {
    content: "";
    width: 25cqw;
    aspect-ratio: 1;
    background-color: rgb(201, 117, 58);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: -1cqw;
    left: 32cqw;
    transform: rotate(90deg);
}

/* Nose */
main>section:first-of-type>div:first-of-type div:nth-child(3) {
    width: 10cqw;
    height: 6.25cqw;
    background-color: black;
    border-radius: 20% 20% 50% 50% / 25% 25% 70% 70%;
    position: absolute;
    top: 30cqw;
    left: 45cqw;
    z-index: 6;
}

/* nose highlight */
main>section:first-of-type>div:first-of-type div:nth-child(3)::before {
    content: "";
    width: 6cqw;
    height: 2.5cqw;
    background-color: rgba(229, 229, 229, 0.376);
    border-radius: inherit;
    position: absolute;
    top: 0.75cqw;
    left: 1.25cqw;
}

/* Mouth */
main>section:first-of-type>div:first-of-type div:nth-child(4) {
    width: 7cqw;
    height: 3.75cqw;
    background-color: transparent;
    border: var(--mouth-border);
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 37cqw;
    left: 45.7cqw;
    z-index: 8;
    transition: rotate 0.3s ease-in;
    rotate: var(--mouth-rotation);
}

/* Mouth dot left */
main>section:first-of-type>div:first-of-type div:nth-child(4)::before {
    content: "";
    height: 1.25cqw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: inherit;
    left: -1.2cqw;
    top: -0.3cqw;
}

/* Mouth dot right */
main>section:first-of-type>div:first-of-type div:nth-child(4)::after {
    content: "";
    height: 1.25cqw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    position: inherit;
    right: -1.3cqw;
    top: -0.4cqw;
}

/* collar */
main>section:first-of-type>div:first-of-type div:nth-child(5) {
    width: 40cqw;
    height: 15cqw;
    position: absolute;
    background-color: var(--clr-collar);
    z-index: 3;
    border-radius: 0 0 50% 50%;
    top: 40.6cqw;
    left: 30cqw;
}

/* Body */
main>section:first-of-type>div:first-of-type div:nth-child(6) {
    height: 57.5cqw;
    aspect-ratio: 1 / 1.1;
    z-index: 99;
    position: absolute;
    border-radius: 43% 36% 35% 37% / 46% 46% 22% 23%;
    top: 45cqw;
    left: 24cqw;
    z-index: 1;
    background-image:
        radial-gradient(ellipse 1% 5% at 30% 56%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 33% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 27% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 67% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 70% 56%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 73% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 20% 30% at 70% 44%, rgb(201, 117, 58)50%, transparent 0%),
        radial-gradient(ellipse 20% 30% at 30% 44%, rgb(201, 117, 58)50%, transparent 0%),
        radial-gradient(ellipse 100% 100% at 70% 70%, rgb(242, 205, 171) 100%, transparent 0)
}

/* flowers */
main>section:first-of-type>div:nth-of-type(3),
main>section:first-of-type>div:nth-of-type(4),
main>section:first-of-type>div:nth-of-type(5),
main>section:first-of-type>div:nth-of-type(6),
main>section:first-of-type>div:nth-of-type(7) {
    position: absolute;
    z-index: 88;
    right: 65%;
    top: 80%;
    width: 5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow:
        -2vw -3vw 0 0 var(--clr-leaves),
        2vw -3vw 0 0 var(--clr-leaves),
        2vw 3vw 0 0 var(--clr-leaves),
        -2vw 3vw 0 0 var(--clr-leaves),
        3.4vw 0px 0 0 var(--clr-leaves),
        -3.5vw 0px 0 0 var(--clr-leaves);
    background: var(--clr-collar);
    animation: rotate-flowers 15s linear infinite;
    scale: 0.5;

    &:nth-of-type(4) {
        left: 60%;
        background-color: #b8c623;
    }

    &:nth-of-type(5) {
        left: 70%;
        top: 85%;
        scale: 0.3;
        background-color: #6553b6;
    }

    &:nth-of-type(6) {
        left: 90%;
        top: 70%;
        scale: 0.3;
        background-color: #23c651;
    }

    &:nth-of-type(7) {
        left: 10%;
        top: 80%;
        background-color: #c62387;
        scale: 0.8;
    }
}

/* rotating flowers */
@keyframes rotate-flowers {
    100% {
        transform: rotate(360deg);
    }
}


/* 
//////////////////////////////////////////////////////////
----------------✨✨✨ CONTROL PANEL ✨✨✨-----------------
/////////////////////////////////////////////////////// */

section:nth-of-type(2) {
    background: #ededed;
  height: 400px;
    width: 100%;
    border-radius: 50px 50px 0 0;
    display: flex;
 justify-content: center;
    align-items: center;
    position: relative;
    top: -2em;
    padding:2em 0;
    gap: 0em;
flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {

}

@media (min-width: 600px) {
    section:nth-of-type(2) {
     flex-direction: row;
     height: 300px;
     background: #ededed;
     width: 100%;
     border-radius: 50px 50px 0 0;
     display: flex;
  justify-content: center;
     align-items: center;
     position: relative;
     top: -2em;
     padding:2em 0;
     gap: 0em;
     flex-wrap: wrap;
    }

    main h1:first-of-type {
        font-size: 4vw;
    }


  }

/*//////////////////////pull up & pull down////////////////// */
/* pull up & down button */
section:nth-of-type(2) div:nth-child(3) {
    position: absolute;
    top: -45px;
}

/* pull up & down button */
section:nth-of-type(2) div:nth-child(3) label {
    /* background-color: #2361c6; */
    appearance: none;
    padding: 40px;
    border-bottom: 4px solid #9e9e9e;
    cursor: pointer;
    height: var(--heightbackground);
}

/* hide real checkbox */
section:nth-of-type(2) div:nth-child(3) input[type="checkbox"] {
    display: none;
}

/* change height value of first section*/
body:has(input[value="change-height"]:checked) {
    --heightbackground: 60vh;
}


/* 
//////////////////////////////////////////////////////////
---------------------MOOD TOGGLE BTNS---------------------
/////////////////////////////////////////////////////// */

/* toggle container */
section:nth-of-type(2)>div:first-of-type {
    margin: 5.3vw;
    display: flex;
    gap: 10px;
}

/* Hide real radio buttons */
section:nth-of-type(2)>div:first-of-type input[type="radio"] {
    display: none;
}

/* Styling labels as btns */
section:nth-of-type(2)>div:first-of-type label {
    font-size: 1.5rem;
    background: #ededed;
    box-shadow: 4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

/* active radio-btn */
section:nth-of-type(2)>div:first-of-type label:has(input[type="radio"]:checked) {
    border-radius: 50%;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff;
    transform: scale(1.1);
}

/* btn: neutral */
body:has([value="neutral"]:checked) section:first-of-type>div:first-of-type div:nth-child(4) {
    --mouth-border: 1.20cqw solid #000000;
    border-radius: 2%;
    border-left: none;
    border-right: none;
    left: 47cqw;
    transition: 0.1s ease-in-out;

    &::after {
        background-color: #000000;
        left: 6cqw;
        top: 3.6cqw;
    }

    &::before {
        background-color: #000000;
        left: -0.1cqw;
        top: 3.6cqw;
    }
}

/* btn: sad */
body:has([value="sad"]:checked) section:first-of-type>div:first-of-type div:nth-child(4) {
    --mouth-rotation: 180deg;
}


/* 
//////////////////////////////////////////////////////////
---------------------- WATER SLIDER ----------------------
/////////////////////////////////////////////////////// */
/* BRON DOT SLIDER:
 https://www.thenoorhub.in/2022/01/pure-css-range-slider-pure-css-dot.html */

/* water slider container general */
main section:nth-of-type(2) form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* rotate: 90deg; */
    width: 90%;
    max-width: 500px;

}

/* water slider title */
main section:nth-of-type(2) form h2 {
    margin-top: 0;
    font-weight: bold;
    align-items: center;
}

/* water slider container */
main section:nth-of-type(2) form>div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 50px;
}

/* actual slider */
main section:nth-of-type(2) form>div:first-of-type::before {
    content: "";
    position: absolute;
    height: 30px;
    width: calc(100% * (4 / 5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c9c9c9, ;
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
}

/* water slider labels */
main section:nth-of-type(2) form>div:first-of-type label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
}

/* water slider labels text */
main section:nth-of-type(2) form>div:first-of-type label::before {
    content: attr(data-dot-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    opacity: 0.55;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;

}

/* water slider labels active text */
main section:nth-of-type(2) form div:first-of-type label:has(input:checked)::before {
    font-weight: 800;
    opacity: 1;
}

/* water slider labels dot */
main section:nth-of-type(2) form div:first-of-type label::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #ededed;
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

/* hover dot */
main section:nth-of-type(2) form div:first-of-type label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}

/* active btn */
main section:nth-of-type(2) form div:first-of-type input:checked+label::after {
    transform: translate(-50%, -50%) scale(1.2);
    border-radius: 50%;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
}

/* active selected middle button */
main section:nth-of-type(2) form div:first-of-type label:has(input:checked)::after {
    transform: translate(-50%, -50%) scale(1.2);
    border-radius: 50%;
    background: radial-gradient(circle, var(--clr-collar) 25%, transparent 0),
        linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 3px 3px 5px #c9c9c9, -3px -3px 5px #ffffff;

}

/* actual input display: none */
form div:first-of-type input {
    display: none;
}

/* --------- */
/* WATER BOWL */
/* --------- */
/* BRON WAVE ANIMATION:
https://codepen.io/rstacruz/pen/oxJqNv */

main>section:first-of-type>div:nth-child(2) {
    background-color: white;
    position: relative;
    margin-top: 100px;
}

/* water bowl container */
main>section:first-of-type>div:nth-child(2)>div:first-child {
    height: 8vw;
    aspect-ratio: 20 / 9;
    max-height: 100px;
    position: absolute;
    top: 13vw;
    left: 30vw;
    clip-path: polygon(10% 100%, 90% 100%, 100% 20%, 0 20%);
}

@media (min-width: 1200px) {
    main>section:first-of-type>div:nth-child(2)>div:first-child {
        top: 5vw;

}
}
/* waterbowl background */
main>section:first-of-type>div:nth-child(2)>div:first-child {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(#3f37dc, #5c97db);
}

/* moving water (wave) */
main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    width: 35vw;
    height: 35vw;
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    bottom: var(--waterlevel);
    left: -40%;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.75);
    animation: wave 10s infinite linear;
    rotate: 7deg;
    overflow: hidden;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/* water levels */
body:has([value="1"]:checked) main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    --waterlevel: -20%;
}

body:has([value="2"]:checked) main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    --waterlevel: 10%;
}

body:has([value="3"]:checked) main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    --waterlevel: 40%;
}

body:has([value="4"]:checked) main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    --waterlevel: 50%;
}

body:has([value="5"]:checked) main>section:first-of-type>div:nth-child(2)>div:first-child>div {
    --waterlevel: 80%;
}



/* 
//////////////////////////////////////////////////////////
---------------------- DAY & NIGHT BTNS ------------------
/////////////////////////////////////////////////////// */
/* BRON SUN AND MOON:
    https://codepen.io/gvissing/pen/XWVpjJd */
/* BRON STYLE QUERIES:
    Workshop: met Sanne
    https://codepen.io/shooft/pen/OJGNKJz*/

/* Defining style queries */
html:has([value="day"]:checked) {
    --day: true;
}

html:has([value="night"]:checked) {
    --night: true;
}

/* if [value="day"] is checked: */
@container style(--day:true) {
    main>section:first-of-type>div:nth-of-type(8) {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        background-color: #f1f5b8;
        position: absolute;
        top: 0;
        margin-top: 2em;
        right: 4vw;
        border: 5px solid #f5eb71;
        transition: 0.1s ease-in-out;
    }
}

/* if [value="night"] is checked: */
@container style(--night:true) {
    body {
        --clr-sky: #2843c0;
        --clr-grass: #013c23;
    }

    /* moon */
    main>section:first-of-type>div:nth-of-type(8) {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 0;
        margin-top: 2em;
        right: 4vw;
        border: 5px solid #e4e4e4;
        transition: 0.1s ease-in-out;

        /* moon dots */
        &::before {
            content: "";
            height: 1em;
            aspect-ratio: 1;
            position: absolute;
            background-color: #e4e4e4;
            border-radius: 50%;
            left: 25px;
            top: 10px;
        }

        &::after {
            content: "";
            height: 0.5em;
            aspect-ratio: 1;
            position: absolute;
            background-color: #e4e4e4;
            border-radius: 50%;
            left: 15px;
            top: 30px;
        }
    }

    /* stars */
    main>section:first-of-type>div:nth-of-type(9) {
        height: 0.3em;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: rgb(63, 16, 16);
        position: absolute;
        top: 0;
        margin-top: 2em;
        transition: 0.1s ease-in-out;
        box-shadow:
            -8vw 9vh 0 0 #ffffff,
            32vw 22vh 0 0 #ffffff,
            -18vw 34vh 0 0 #ffffff,
            23vw 28vh 0 0 #ffffff,
            -47vw 7vh 0 0 #ffffff,
            12vw 6vh 0 0 #ffffff,
            -28vw 33vh 0 0 #ffffff,
            52vw 29vh 0 0 #ffffff,
            -42vw 24vh 0 0 #ffffff,
            33vw 12vh 0 0 #ffffff,
            -31vw 36vh 0 0 #ffffff,
            54vw 31vh 0 0 #ffffff,
            -16vw 21vh 0 0 #ffffff,
            62vw 6vh 0 0 #ffffff,
            -39vw 31vh 0 0 #ffffff,
            28vw 27vh 0 0 #ffffff,
            -26vw 31vh 0 0 #ffffff,
            11vw 11vh 0 0 #ffffff,
            -17vw 19vh 0 0 #ffffff,
            51vw 12vh 0 0 #ffffff,
            -59vw 32vh 0 0 #ffffff,
            7vw 19vh 0 0 #ffffff,
            -29vw 26vh 0 0 #ffffff,
            47vw 35vh 0 0 #ffffff,
            -19vw 32vh 0 0 #ffffff,
            52vw 34vh 0 0 #ffffff,
            -38vw 16vh 0 0 #ffffff,
            32vw 6vh 0 0 #ffffff;

        &::before {
            content: "";
            height: 0.2em;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 0;
            margin-top: 2em;
            box-shadow:
                -43vw 12vh 0 0 #ffffff,
                27vw 28vh 0 0 #ffffff,
                -55vw 25vh 0 0 #ffffff,
                19vw 30vh 0 0 #ffffff,
                -50vw 7vh 0 0 #ffffff,
                9vw 22vh 0 0 #ffffff,
                -32vw 28vh 0 0 #ffffff,
                45vw 13vh 0 0 #ffffff,
                -24vw 19vh 0 0 #ffffff,
                11vw 9vh 0 0 #ffffff,
                -18vw 31vh 0 0 #ffffff,
                51vw 21vh 0 0 #ffffff,
                -12vw 16vh 0 0 #ffffff,
                58vw 33vh 0 0 #ffffff,
                -38vw 23vh 0 0 #ffffff,
                17vw 18vh 0 0 #ffffff,
                -60vw 30vh 0 0 #ffffff,
                25vw 27vh 0 0 #ffffff,
                -44vw 5vh 0 0 #ffffff,
                39vw 11vh 0 0 #ffffff,
                -29vw 30vh 0 0 #ffffff,
                50vw 16vh 0 0 #ffffff,
                -47vw 19vh 0 0 #ffffff,
                33vw 28vh 0 0 #ffffff,
                -40vw 12vh 0 0 #ffffff,
                53vw 26vh 0 0 #ffffff,
                -15vw 18vh 0 0 #ffffff,
                60vw 5vh 0 0 #ffffff;
        }
    }

    /* flowers changing color */
    main>section:first-of-type>div:nth-of-type(3),
    main>section:first-of-type>div:nth-of-type(4),
    main>section:first-of-type>div:nth-of-type(5),
    main>section:first-of-type>div:nth-of-type(6),
    main>section:first-of-type>div:nth-of-type(7) {
        --clr-leaves: #17023a;
    }
}

/* day & night btn styling */
section:nth-of-type(2)>div:nth-child(4) {
    display: flex;
    gap: 10px;
    margin: 5.3vw;
}

/* hide real radio buttons */
section:nth-of-type(2)>div:nth-child(4) input[type="radio"] {
    display: none;
}

/* styling labels as btns */
section:nth-of-type(2)>div:nth-child(4) label {
    font-size: 1rem;
    background: #ededed;
    box-shadow: 4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0 30px;
    border-radius: 5px;
}

/* active btn styling */
section:nth-of-type(2)>div:nth-child(4) label:has(input[type="radio"]:checked) {
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 6px 6px 12px #c9c9c9,
        -6px -6px 12px #ffffff;
    transform: scale(1.05);
}


/* Wel mee geëxperimenteerd, maar werkt niet zoals ik wil */
/* 
//////////////////////////////////////////////////////////
---------------------- RANGE SLIDERS ------------------
/////////////////////////////////////////////////////// */
/* BRON RANGE SLIDERS:
   https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */



/* section:nth-of-type(2)>div:nth-child(5) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start; 
    & label {
        display: block; 
  margin-bottom: 0.5rem; 

    }

    & input[type="range"]::-webkit-slider-runnable-track {
        background: #c9c9c9;
        height: 1rem;
        border-radius: 10px;
        background: #ededed;
        box-shadow: 2px 2px 4px #c9c9c9,
            -2px -2px 4px #ffffff;
    }

    & input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--clr-collar);
        border-radius: 0.5rem;
        cursor: pointer;
    }


    & input[type="range"]::-moz-range-track {
        background: #c9c9c9;
        height: 1rem;
        border-radius: 30px;
        background: #ededed;
        box-shadow: 2px 2px 4px #c9c9c9,
            -2px -2px 4px #ffffff;
    }

    & input[type="range"]::-moz-range-thumb {
        background-color: hsl(calc(360 * var(--hue, .9)) calc(100% * var(--saturation, 1)) calc(100% * var(--lightness, .5)));
        border-radius: 0.5rem;
        cursor: pointer;
        border: none;
    }
} */