html {
    --halsband: #f977c5;

}

@property --eye-size {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 9%;
}


* {
    margin: 0;
}



main {
    /* height: 100vh; */
    flex-direction: column;
    display: flex;




}

:root {
    --clr-grass: #9de8a7;
    --clr-sky: rgb(96, 215, 254);
    --heightbackground: 100vh;
    --clr-leaves: #fff1f6;
}


section:nth-of-type(1) {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--heightbackground);
    width: 100%;
    position: relative;
    background-image: linear-gradient(var(--clr-sky) 70%, var(--clr-grass) 0);
    flex-shrink: 0;
    container-type: inline-size;
    transition: 1s ease-in-out;
    z-index: -1;
}

/* 
//////////////////////////////////////////////////////////
---------------------🐶🐶🐶HONDJE🐶🐶🐶---------------------
/////////////////////////////////////////////////////// */
/* dog */
body>main>section:first-of-type>div:first-child {
    position: absolute;
    /* background-color: #c6c023; */
    height: 50%;
    /* width: 100%; */
    container-type: inline-size;
    width: 60cqw;
    max-width: 400px;
    top: cqw;
    scale: 0.7;
    top: 40%;




}



@keyframes oogBeweging {
    0% {
        background-position:
            70% 60%, 30% 60%, 50% 70%,
            31% 44%, 36% 48%, 61% 44%, 65.5% 48%,
            33% 46%, 63% 46%, 63% 60%;
    }

    50% {
        background-position:
            72% 62%, 28% 62%, 50% 70%,
            /* Ogen bewegen */
            30% 45%, 37% 47%, 60% 45%, 66% 47%,
            /* Witte highlights */
            35% 48%, 65% 48%, 63% 62%;
        /* Pupillen */
    }

    100% {
        background-position:
            70% 60%, 30% 60%, 50% 70%,
            31% 44%, 36% 48%, 61% 44%, 65.5% 48%,
            33% 46%, 63% 46%, 63% 60%;
    }
}


/* Head */
main>section:first-of-type>div:first-of-type div:first-child {
    width: 50cqw;


    aspect-ratio: 1;
    background-color: rgb(242, 205, 171);
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    left: 25cqw;
    top: 1cqw;

    background-image:
        radial-gradient(ellipse 50% 30% at 70% 60%, rgb(238, 180, 213) 15%, transparent 0),
        radial-gradient(ellipse 50% 30% at 30% 60%, rgb(238, 180, 213) 15%, transparent 0),
        radial-gradient(ellipse 50% 30% at 50% 70%, rgb(255, 255, 255) 50%, transparent 0),
        radial-gradient(circle at 31% 44%, rgb(255, 255, 255) 2.6%, transparent 0),
        radial-gradient(circle at 36% 48%, rgb(255, 255, 255) 2%, transparent 0),
        radial-gradient(circle at 61% 44%, rgb(255, 255, 255) 2.7%, transparent 0),
        radial-gradient(circle at 65.5% 48%, rgb(255, 255, 255) 2%, transparent 0),
        radial-gradient(circle at 33% 46%, rgb(0, 0, 0) var(--eye-size), transparent 0),
        radial-gradient(circle at 63% 46%, rgb(0, 0, 0) var(--eye-size), transparent 0),
        radial-gradient(circle at 63% 60%, rgb(145, 98, 57) 15%, transparent 0);
    animation: eyes 3s ease-in infinite;
}

@keyframes eyes {
    from { --eye-size: 9%; }
    to { --eye-size: 12%; }
}




/* Ear Left */
main>section:first-of-type>div:first-of-type div:first-child::before {
    content: "";
    width: 25cqw;
    aspect-ratio: 1;
    background-color: rgb(201, 117, 58);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: -1cqw;
    left: -7cqw;

}


/* Ear Right */
main>section:first-of-type>div:first-of-type div:first-child::after {
    content: "";
    width: 25cqw;
    aspect-ratio: 1;
    background-color: rgb(201, 117, 58);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: -1cqw;
    left: 32cqw;
    transform: rotate(90deg);

}


/* Eyes */
/* main>section:first-of-type>div:first-of-type div:nth-child(2) {
    width: 3vw;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 9vw;
    right: 1.9vw;
    box-shadow: 6vw 0 black;
    background-image:
        radial-gradient(at 33% 33%, white 14%, transparent 0), */
/*eerste oog highlights met gradient */
/* radial-gradient(at 66% 66%, white 12%, black 0);
    z-index: 2;
} */



/* Second eye highlights with ::after en box shadow */
/* main>section:first-of-type>div:first-of-type div:nth-child(2)::after {
    content: "";
    width: 0.8vw;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 0.7vw;
    left: 6.6vw;
    box-shadow: 1vw 1vw rgb(255, 255, 255);
} */



/* Nose */
main>section:first-of-type>div:first-of-type div:nth-child(3) {
    width: 10cqw;
    height: 6.25cqw;
    background-color: black;
    border-radius: 20% 20% 50% 50% / 25% 25% 70% 70%;
    position: absolute;
    top: 30cqw;
    left: 45cqw;
    z-index: 6;
}

main>section:first-of-type>div:first-of-type div:nth-child(3)::before {
    content: "";
    width: 6cqw;
    height: 2.5cqw;
    background-color: rgba(229, 229, 229, 0.376);
    border-radius: inherit;
    position: absolute;
    top: 0.75cqw;
    left: 1.25cqw;

}

/* Mouth */
main>section:first-of-type>div:first-of-type div:nth-child(4) {
    width: 7cqw;
    height: 3.75cqw;
    background-color: transparent;
    border: var(--mouth-border);
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 37cqw;
    left: 45.7cqw;
    z-index: 8;
    transition: rotate 0.3s ease-in;
    rotate: var(--mouth-rotation);
}

main>section:first-of-type>div:first-of-type div:nth-child(4)::before {
    content: "";
    height: 1.25cqw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    position: inherit;
    left: -1.2cqw;
    top: -0.4cqw;
}

main>section:first-of-type>div:first-of-type div:nth-child(4)::after {
    content: "";
    height: 1.25cqw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    position: inherit;
    right: -1.3cqw;
    top: -0.4cqw;
}


/* Halsband */
main>section:first-of-type>div:first-of-type div:nth-child(5) {
    width: 40cqw;
    height: 15cqw;
    position: absolute;
    background-color: var(--halsband);
    z-index: 3;
    border-radius: 0 0 50% 50%;
    top: 40.6cqw;
    left: 30cqw;
}

/* .halsband::before {
    content: "";
    height:10vw;
    width: 10vw;
    background-color:aqua;
    position: absolute;

} */


/* lijf */
main>section:first-of-type>div:first-of-type div:nth-child(6) {
    height: 57.5cqw;
    aspect-ratio: 1 / 1.1;
    z-index: 99;
    position: absolute;
    border-radius: 43% 36% 35% 37% / 46% 46% 22% 23%;
    top: 45cqw;
    left: 24cqw;
    z-index: 1;
    background-image:
        radial-gradient(ellipse 1% 5% at 30% 56%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 33% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 27% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 67% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 70% 56%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 1% 5% at 73% 55%, rgb(38, 18, 3)50%, transparent 0%),
        radial-gradient(ellipse 20% 30% at 70% 44%, rgb(201, 117, 58)50%, transparent 0%),
        radial-gradient(ellipse 20% 30% at 30% 44%, rgb(201, 117, 58)50%, transparent 0%),




        radial-gradient(ellipse 100% 100% at 70% 70%, rgb(242, 205, 171) 100%, transparent 0)
}


/* flowers */
main>section:first-of-type>div:nth-of-type(3),
main>section:first-of-type>div:nth-of-type(4),
main>section:first-of-type>div:nth-of-type(5),
main>section:first-of-type>div:nth-of-type(6),
main>section:first-of-type>div:nth-of-type(7) {
    position: absolute;
    z-index: 88;
    right: 65%;
    top: 80%;
    width: 5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow:
        -2vw -3vw 0 0 var(--clr-leaves),
        2vw -3vw 0 0 var(--clr-leaves),
        2vw 3vw 0 0 var(--clr-leaves),
        -2vw 3vw 0 0  var(--clr-leaves),
        3.4vw 0px 0 0 var(--clr-leaves),
        -3.5vw 0px 0 0 var(--clr-leaves);
    background: var(--halsband);
    animation: rotate 15s linear infinite;
    scale: 0.5;


    &:nth-of-type(4) {
        left: 60%;
        background-color: #b8c623;
    }

    &:nth-of-type(5) {
        left: 70%;
        top: 85%;
        scale: 0.3;
        background-color: #6553b6;
    }

    &:nth-of-type(6) {
        left: 90%;
        top: 70%;
        scale: 0.3;
        background-color: #23c651;
    }

    &:nth-of-type(7) {
        left: 10%;
        top: 80%;
        background-color: #c62387;
        scale: 0.8;


    }



}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

main>section:first-of-type>div:nth-of-type(4) {
    left: 50%;
}

/* 
//////////////////////////////////////////////////////////
----------------✨✨✨ CONTROL PANEL ✨✨✨-----------------
/////////////////////////////////////////////////////// */


section:nth-of-type(2) {
    background: #ededed;
    height: 1000px;
    width: 100%;
    border-radius: 50px 50px 0 0;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -2em;


}


/* pull button */




/* 
//////////////////////////////////////////////////////////
---------------------MOOD TOGGLE BTNS---------------------
/////////////////////////////////////////////////////// */


/* toggle container */
section:nth-of-type(2)>div:first-of-type {
    margin: 5.3vw;
    display: flex;
    gap: 10px;
    /* background-color: #c62387; */
}

/* Verberg de echte radio buttons */
section:nth-of-type(2)>div:first-of-type input[type="radio"] {
    display: none;
}

/* section:nth-of-type(2) div:first-child label  */
/* Stijl de labels als knoppen */
section:nth-of-type(2)>div:first-of-type label {
    font-size: 2rem;
    background: #ededed;
    box-shadow: 4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    /* Centreert verticaal */
    justify-content: center;
    height: 2em;
    aspect-ratio: 1;
    cursor: pointer;
    /* border: 2px solid #ccc; */
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

/* Als de radio is geselecteerd, geef een ingedrukte stijl */

section:nth-of-type(2)>div:first-of-type label:has(input[type="radio"]:checked) {
    /* border-radius: 114px; */
    border-radius: 114px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff;
    transform: scale(1.1);
}


:root {
    --mouth-rotation: 0deg;
    --mouth-border: 1.25cqw solid #000000;

}

body:has([value="neutral"]:checked) section:first-of-type>div:first-of-type div:nth-child(4) {

    --mouth-border: 1.25cqw solid #000000;
    border-radius: 2%;
    border-left: none;
    border-right: none;
    left: 47cqw;
    transition: 0.1s ease-in-out;


    &::after {
        background-color: #000000;
        top: 1.5vw;
        right: -0.3vw;
    }

    &::before {
        background-color: #000000;
        top: 1.5vw;
        left: -0.3vw;
    }
}


body:has([value="sad"]:checked) section:first-of-type>div:first-of-type div:nth-child(4) {
    --mouth-rotation: 180deg;
}


/* 
//////////////////////////////////////////////////////////
---------------------- WATER SLIDER ----------------------
/////////////////////////////////////////////////////// */
/* BRON DOT SLIDER:
 https://www.thenoorhub.in/2022/01/pure-css-range-slider-pure-css-dot.html */

main section:nth-of-type(2) form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* rotate: 90deg; */
    width: 90%;
    max-width: 500px;

}

main section:nth-of-type(2) form #form-title {
    margin-top: 0;
    font-weight: bold;
    align-items: center;
}

main section:nth-of-type(2) form>div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 50px;
}

main section:nth-of-type(2) form>div:first-of-type::before {
    content: "";
    position: absolute;
    height: 30px;
    width: calc(100% * (4 / 5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c9c9c9, ;
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
}

main section:nth-of-type(2) form>div:first-of-type input,
main section:nth-of-type(2) form>div:first-of-type label {
    box-sizing: border-box;
    flex: 1;
    cursor: pointer;
}

main section:nth-of-type(2) form>div:first-of-type label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
}

main section:nth-of-type(2) form>div:first-of-type label::before {
    content: attr(data-dot-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    opacity: 0.55;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;


}

main section:nth-of-type(2) form div:first-of-type label::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    /* border: 2px solid #d11d1d; */
    background: #ededed;
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

main section:nth-of-type(2) form div:first-of-type label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}

main section:nth-of-type(2) form div:first-of-type input:checked+label::before {
    font-weight: 800;
    opacity: 1;
}


/* active btn */
main section:nth-of-type(2) form div:first-of-type input:checked+label::after {
    transform: translate(-50%, -50%) scale(1.2);
    /* border: 2px solid #000; */
    border-radius: 114px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 3px 3px 5px #c9c9c9,
        -3px -3px 5px #ffffff;
}

form div:first-of-type input {
    display: none;
}

form div:first-of-type input:checked~div {
    opacity: 1;
    background-color: #c62387;
    height: 2em;
}

form div:first-of-type>div {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--halsband);
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    /* border: 2px solid #fff; */
    opacity: 0;
    z-index: 2;
}

form div:first-of-type input:checked:nth-child(1)~div {
    left: 10%;
}

form div:first-of-type input:checked:nth-child(3)~div {
    left: 30%;
}

form div:first-of-type input:checked:nth-child(5)~div {
    left: 50%;
}

form div:first-of-type input:checked:nth-child(7)~div {
    left: 70%;
}

form div:first-of-type input:checked:nth-child(9)~div {
    left: 90%;
}





/* WATERBAK */
main>section:first-of-type>div:nth-child(2) {
    background-color: white;
    position: relative;
    margin-top: 100px;
}

/* Waterbak container */
main>section:first-of-type>div:nth-child(2)>div:first-child {
    background-color: #c62387;
    height: 8vw;
    aspect-ratio: 20 / 9;
    max-height: 100px;

    position: absolute;
    top: 1vh;
    left: 30vw;
    clip-path: polygon(10% 100%, 90% 100%, 100% 20%, 0 20%);

}

/* Water in de bak (ellips die uitsteekt) */
/* main>section:first-of-type>div:nth-child(2)>div:nth-child(2) { */
/* content: "";
    width: vw;
    height: 6vw;
    position: absolute;
    top: 1vw; */
/* Zorgt ervoor dat de ellips BOVEN de bak uitsteekt */
/* left: 0;
    border-radius: 60% / 80%;
    z-index: 18; */
/* Zorgt ervoor dat het boven de bak blijft */
/* } */


.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(#3f37dc, #5c97db);

}

:root {
    --waterlevel: 50%;
}

.wave {
    width: 35vw;
    height: 35vw;
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    bottom: var(--waterlevel);
    left: -40%;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.75);
    animation: wave 10s infinite linear;
    rotate: 7deg;
    overflow: hidden;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

body:has([value="1"]:checked) .wave {
    --waterlevel: -20%;
}

body:has([value="2"]:checked) .wave {
    --waterlevel: 10%;
}

body:has([value="3"]:checked) .wave {
    --waterlevel: 40%;
}

body:has([value="4"]:checked) .wave {
    --waterlevel: 50%;
}

body:has([value="5"]:checked) .wave {
    --waterlevel: 80%;
}



main section:nth-of-type(2) form div:first-of-type label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    cursor: pointer;
}




main section:nth-of-type(2) form div:first-of-type label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);

}

main section:nth-of-type(2) form div:first-of-type label:has(input:checked)::before {
    font-weight: 800;
    opacity: 1;
    /* background-color: #3f37dc; */
}

main section:nth-of-type(2) form div:first-of-type label:has(input:checked)::after {
    transform: translate(-50%, -50%) scale(1.2);
    border-radius: 114px;
    background: radial-gradient(circle, var(--halsband) 25%, transparent 0),
        linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 3px 3px 5px #c9c9c9, -3px -3px 5px #ffffff;

}




.sleep {
    /* background-color: #c62387; */
    position: absolute;
    top: -45px;

}


.sleep label {
    /* background-color: #2361c6; */
    appearance: none;
    padding: 40px;
    border-bottom: 4px solid #9e9e9e;
    cursor: pointer;
    height: var(--heightbackground);
    /* background-color: #5c97db; */


}


.sleep input[type="checkbox"] {
    display: none;

}

body:has(input[value="hoi"]:checked) {
    --heightbackground: 60vh;
}


/* DAY NIGHT SWITCH */

html:has([value="day"]:checked) {
	--day:true;
}

html:has([value="night"]:checked) {
	--night:true;
}








@container style(--day:true) {
    main>section:first-of-type>div:nth-of-type(8)  {
        height: 6em;
        width: 6em;
        border-radius: 50%;
    
        background-color: #f1f5b8;
        position: absolute;
        top: 0;
        margin-top: 2em;
        right: 4vw;
        border: 5px solid #f5eb71;
        transition: 0.1s ease-in-out;
    
    
    }
	
	
}


@container style(--night:true) {
	body {
        --clr-sky: #2843c0;
        --clr-grass: #013c23;
	}

    main>section:first-of-type>div:nth-of-type(8)  {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 0;
        margin-top: 2em;
        right: 4vw;
        border: 5px solid #e4e4e4;
        transition: 0.1s ease-in-out;
    
    
        &::before {
            content: "";
            height: 1em;
            aspect-ratio: 1;
            position: absolute;
            background-color: #e4e4e4;
            border-radius: 50%;
            left: 25px;
            top: 10px;
        
        }
            &::after {
                content: "";
                height: 0.5em;
                aspect-ratio: 1;
                position: absolute;
                background-color: #e4e4e4;
                border-radius: 50%;
                left: 15px;
                top: 30px;
        }}


            /* STARS */
     main>section:first-of-type>div:nth-of-type(9) {
        height: 0.3em;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: rgb(63, 16, 16);
        position: absolute;
        top: 0;
        margin-top: 2em;
        transition: 0.1s ease-in-out;
        box-shadow:
   -8vw 9vh 0 0 #ffffff,
    32vw 22vh 0 0 #ffffff,
    -18vw 34vh 0 0 #ffffff,
    23vw 28vh 0 0 #ffffff,
    -47vw 7vh 0 0 #ffffff,
    12vw 6vh 0 0 #ffffff,
    -28vw 33vh 0 0 #ffffff,
    52vw 29vh 0 0 #ffffff,
    -42vw 24vh 0 0 #ffffff,
    33vw 12vh 0 0 #ffffff,
    -31vw 36vh 0 0 #ffffff,
    54vw 31vh 0 0 #ffffff,
    -16vw 21vh 0 0 #ffffff,
    62vw 6vh 0 0 #ffffff,
    -39vw 31vh 0 0 #ffffff,
    28vw 27vh 0 0 #ffffff,
    -26vw 31vh 0 0 #ffffff,
    11vw 11vh 0 0 #ffffff,
    -17vw 19vh 0 0 #ffffff,
    51vw 12vh 0 0 #ffffff,
    -59vw 32vh 0 0 #ffffff,
    7vw 19vh 0 0 #ffffff,
    -29vw 26vh 0 0 #ffffff,
    47vw 35vh 0 0 #ffffff,
    -19vw 32vh 0 0 #ffffff,
    52vw 34vh 0 0 #ffffff,
    -38vw 16vh 0 0 #ffffff,
    32vw 6vh 0 0 #ffffff;

        &::before {
            content: "";
            height: 0.2em;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 0;
            margin-top: 2em;
            box-shadow:
            -43vw 12vh 0 0 #ffffff,
            27vw 28vh 0 0 #ffffff,
            -55vw 25vh 0 0 #ffffff,
            19vw 30vh 0 0 #ffffff,
            -50vw 7vh 0 0 #ffffff,
            9vw 22vh 0 0 #ffffff,
            -32vw 28vh 0 0 #ffffff,
            45vw 13vh 0 0 #ffffff,
            -24vw 19vh 0 0 #ffffff,
            11vw 9vh 0 0 #ffffff,
            -18vw 31vh 0 0 #ffffff,
            51vw 21vh 0 0 #ffffff,
            -12vw 16vh 0 0 #ffffff,
            58vw 33vh 0 0 #ffffff,
            -38vw 23vh 0 0 #ffffff,
            17vw 18vh 0 0 #ffffff,
            -60vw 30vh 0 0 #ffffff,
            25vw 27vh 0 0 #ffffff,
            -44vw 5vh 0 0 #ffffff,
            39vw 11vh 0 0 #ffffff,
            -29vw 30vh 0 0 #ffffff,
            50vw 16vh 0 0 #ffffff,
            -47vw 19vh 0 0 #ffffff,
            33vw 28vh 0 0 #ffffff,
            -40vw 12vh 0 0 #ffffff,
            53vw 26vh 0 0 #ffffff,
            -15vw 18vh 0 0 #ffffff,
            60vw 5vh 0 0 #ffffff;
    
        }
}
main>section:first-of-type>div:nth-of-type(3),
main>section:first-of-type>div:nth-of-type(4),
main>section:first-of-type>div:nth-of-type(5),
main>section:first-of-type>div:nth-of-type(6),
main>section:first-of-type>div:nth-of-type(7) {

    --clr-leaves: #17023a;
}


.circle{
    transform: translateX(30px);
}

    }

  
  /* Maak de radioknoppen onzichtbaar */
  iput[type="radio"] {
    display: none;
  }
  
  /* Style de labels zodat ze als knoppen functioneren */
  .toggle-label {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background-color: #f5eb71;
    margin-top: 50px;
 
  }
  
  /* De toggle zelf */
  .toggle {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: lightgray;
    border-radius: 30px;
    transition: background-color 0.3s;
    pointer-events: none;
    left: 35px;
    
  }
  
  /* Het ronde blokje in de toggle */
  .circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
 
  
  /* De container krijgt een breedte van 200px */
  .toggle-container {
   
    display: flex;
    justify-content: space-between;
    position: relative;

  }
  