html {
    /* colors */
    --clr-collar: #f977c5;
    --clr-grass: #9de8a7;
    --clr-sky: rgb(96, 215, 254);
    --clr-leaves: #fff1f6;

    /* height: section 1 */
    --heightbackground: 100vh;

     /* dog position & size*/
     --dog-position: 20%;
     --dog-scale: 1;

     /* opacity control panel elements */
     --control-panel-opacity: 0;

     /* h1 posiion & size */
     --h1-position: 1em;
     --h1-font-size: 3em;

     /* water bowl position */
    --water-bowl-position: 30%;

    /* mouth positions */
    --mouth-rotation: 0deg;
    --mouth-border: 1.25cqw solid #000000;

    /* water heights */
    --waterlevel: 50%;
}